@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}

:root {
  --white: hsl(0, 100%, 100%);
  --grey: hsl(0, 0%, 58%);
  --blue-700: hsl(235, 18%, 26%);
  --blue-800: hsl(234, 29%, 20%);
  --red: hsl(4, 100%, 67%);
  --gradient-1-red: hsl(15, 100%, 61%);
  --gradient-2-purple: hsl(346, 100%, 66%);

  --line-height-100: 150%;

  --spacing-100: 0.5rem;
  /* 8px */
  --spacing-200: 1rem;
  /* 16px */
  --spacing-300: 1.5rem;
  /* 24px */
  --spacing-400: 2rem;
  /* 32px */
  --spacing-500: 2.5rem;
  /* 40px */
  --spacing-600: 3rem;
  /* 48px */
  --spacing-800: 4rem;
  /* 64px */
  --spacing-900: 4.5rem;
  /* 72px */
  --spacing-1300: 6.5rem;
  /* 104px */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--blue-700);
  color: var(--blue-800);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.success-message__container {
  position: fixed;
  /* Stays relative to viewport, avoids overlap */
  inset: 0;
  /* shorthand for top:0; right:0; bottom:0; left:0; */
  /* position: absolute; */
  display: none;
  flex-direction: column;
  block-size: 100dvh;
  padding: 9.375rem 1.5rem 4.375rem;
  background-color: var(--white);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.success-message__container.active {
  opacity: 1;
}

.success-message__container h1 {
  padding-block: var(--spacing-400);
  font-size: var(--spacing-500);
  line-height: 1;
}

.success-message__container p {
  font-size: var(--spacing-200);
  line-height: 1.5;
}

.success-message__container .submit-btn {
  margin-block-start: auto;
}

.newsletter-component__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  min-block-size: 100vh;
  padding-inline: 1rem;
  position: relative;
}

.newsletter-wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-inline-size: 23.4375rem;
  background: var(--white);
  opacity: 1;
}

.newsletter-component__content {
  inline-size: 100%;
  padding: 0 var(--spacing-300) var(--spacing-500);
  color: var(--blue-800);
  line-height: var(--line-height-100);
  max-inline-size: 45ch;
}

.newsletter-component__content h1 {
  margin-block-start: var(--spacing-500);
  font-size: var(--spacing-500);
  line-height: 100%;
}

.newsletter-component__content p {
  margin-block: var(--spacing-300);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul li {
  position: relative;
  display: flex;
  align-items: start;
  gap: 1rem;
  line-height: 1.2;
}

ul li::before {
  content: url('assets/images/icon-list.svg');
  inline-size: 1.25rem;
  block-size: 1.25rem;
  display: inline-block;
  flex-shrink: 0;
}

form {
  inline-size: 100%;
  margin-block-start: var(--spacing-500);
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 100%;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.label-wrapper #name-error {
  display: inline-block;
  min-block-size: 1rem;
  line-height: 1;
  font-size: 0.75rem;
  color: var(--red);
  font-weight: 700;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.label-wrapper #name-error:not(:empty) {
  opacity: 1;
}

span.error {
  animation: shake 0.2s ease-in-out;
}

input {
  inline-size: 100%;
  margin-block-start: 0.3rem;
  margin-block-end: var(--spacing-300);
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-300);
  border: 1px solid var(--grey);
  border-radius: var(--spacing-100);
  font: inherit;
  color: var(--blue-800);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-warning {
    border: 1px solid hsl(4, 61%, 69%);
    color: hsl(4, 61%, 69%);
    font-weight: 500;
    background-color: hsl(5, 100%, 95%);
    animation: validate 0.2s ease-in-out;
}

input[placeholder] {
  color: var(--grey);
}

input:focus-visible,
input:focus {
  outline: none;
  border-color: var(--gradient-1-red);
  box-shadow: 0 0 0 3px hsl(15 100% 61% / 0.3);
}

input.error {
  border: 1.5px solid var(--red);
  background-color: hsl(6, 100%, 96%);
  animation: shake 0.2s ease-in-out;
}

input.error::placeholder {
  color: var(--red);
}

.submit-btn {
  position: relative;
  display: inline-block;
  inline-size: 100%;
  padding: var(--spacing-200) var(--spacing-300);
  padding-block: var(--spacing-200);
  padding-inline: var(--spacing-300);
  border: none;
  background-color: var(--blue-800);
  color: var(--white);
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
  overflow: hidden;
  isolation: isolate;
}

.submit-btn:hover,
.submit-btn:focus-visible {
  box-shadow: 0 10px 20px hsla(4, 100%, 67%, 0.1);
}

.submit-btn:active {
  transform: scale(0.98);
}

.submit-btn:focus-visible {
  outline: 2px solid var(--gradient-1-red);
  outline-offset: 3px;
}

.submit-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--gradient-1-red), var(--gradient-2-purple));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.submit-btn:hover::after,
.submit-btn:focus-visible::after {
  opacity: 1;
}

.submit-btn > * {
  position: relative;
  z-index: 1;
}

form:has(input:focus) .submit-btn {
  background: linear-gradient(to right, var(--gradient-1-red), var(--gradient-2-purple));
  box-shadow: 0 10px 20px hsla(4, 100%, 67%, 0.3);
  transition: background 0.3s ease;
}

.newsletter-component__header {
  background-color: var(--white);
}

.newsletter-component__header img {
  display: block;
  inline-size: 100%;
  block-size: auto;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  object-fit: cover;
}

.is-hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

.fade {
  transition: opacity 0.35s ease;
  opacity: 1;
  pointer-events: auto;
}

.is-fading {
  opacity: 0;
  pointer-events: none;
}

.error {
    animation: shake 0.2s ease-in-out;
}



/* RESPONSIVE */
@media screen and (min-width: 28.125em) {
  .success-message__container {
    display: none;
    /* position: absolute; */
    position: fixed; /* Stays relative to viewport, avoids overlap */
    inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
    padding: 3rem;
    inline-size: 26.25rem;
    block-size: 26.25rem;
    gap: 1rem;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: 50%;
    left: 50%;
    border-radius: 24px;
  }

  .success-message__container h1 {
    padding-block: 0;
    font-size: 2.25rem;
    font-size: var(--spacing-500);
  }

  .success-message__container .submit-btn {
    margin-block-start: auto;
  }
}

@media screen and (min-width: 48em) {
  .success-message__container {
    display: none;
    position: fixed; /* Stays relative to viewport, avoids overlap
    /* inset: 0; shorthand for top:0; right:0; bottom:0; left:0; */
    top: -4.5rem;
    padding: 4rem;
    /* margin-block-start: -4.5rem; */
    inline-size: 31.5rem;
    block-size: 31.5rem;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: 50%;
    left: 50%;
    overflow: hidden;
  }

  .success-message__container h1 {
    font-size: 3.5rem;
  }

  .newsletter-component__container {
    margin-block-start: 4.5rem;
    justify-content: center;
  }

  .newsletter-wrapper {
    padding: var(--spacing-500);
    max-inline-size: 38rem;
    border-radius: 16px;
    overflow: hidden;
  }

  .newsletter-component__content {
    inline-size: 100%;
    max-inline-size: unset;
    padding: 0;
    color: var(--blue-800);
    line-height: var(--line-height-100);
  }

  .newsletter-component__content h1 {
    font-size: 3.5rem;
  }

  form {
    margin-block-start: var(--spacing-300);
  }

  input {
    margin-block-end: var(--spacing-200);
  }
}

@media screen and (min-width: 64em) {
  .success-message__container {
    margin-block-start: 0;
  }

  .newsletter-component__container {
    padding-inline: var(--spacing-500);
    margin-block-start: 0;
    justify-content: center;
  }

  .newsletter-component__container .newsletter-wrapper {
    padding: var(--spacing-300) var(--spacing-400);
    max-inline-size: 56.5rem;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 24px;
  }

  .newsletter-component__content {
    max-inline-size: 27.5rem;
    padding-inline-end: 4rem;
    padding-block-start: 4.5rem;
    flex: 1;
  }

  .newsletter-component__content h1 {
    margin-block-start: 0;
  }

  form {
    margin-block-start: var(--spacing-400);
  }

  input {
    margin-block-end: var(--spacing-300);
  }
}


/* ANIMATIONS */
@keyframes shake {
  0%,
  100% {
      transform: translateX(0);
      color: red;
  }

  25% {
      transform: translateX(5px);
      color: hsl(234, 29%, 20%);
  }

  50% {
      transform: translateX(-5px);
      color: hsl(342, 100%, 50%);
  }

  75% {
      transform: translateX(5px);
      color: hsl(234, 29%, 20%);
  }
}

@keyframes validate {
  0%,
  100% {
      border: 1px solid hsl(234, 29%, 20%);
      color: hsl(234, 29%, 20%);
      transform: translateY(0);
      background-color: hsl(5, 100%, 95%);
  }

  50% {
      border: 1px solid hsl(4, 61%, 69%);
      color: hsl(4, 61%, 69%);
      transform: translateY(1px);
  }
}

